html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background-color: rgb(251, 251, 251);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  height: 100%;
}

.plain {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
}

#navbar {
  display: flex;
  width: 100%;
  background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
  justify-content: flex-end;
}

#navbar > div {
  color: white;
  font-weight: bold;
  font-size: 13px;
  width: fit-content;
  margin: 4px 20px 5px 0;
}

#naslov {
  width: fit-content;
  height: 7%;
  float: left;
}

#naslov_text {
  color: rgb(156, 31, 117);
  font-family: 'Ubuntu';
  padding: 5% 0;
  float: right;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-weight: 430;
  margin-bottom: 3px;
}

#naslov_text > div {
  padding: 0;
}

#podnaslov_text {
  font-size: 14px;
  margin-top: 4px;
}

#naslov_text > div:first-child {
  font-size: 24px;
  margin-top: 12px;
}

#podnaslov_text {
  font-size: 14px;
  margin-top: 4px;
}

#profil {
  height: 6em;
  padding: 0 2%;
  margin: 0;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#icon {
  height: 4em;
  margin-right: 0px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 3px;
  vertical-align: baseline;
}

#home_bigboy_main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  background-color: rgb(251, 251, 251);
}


#home_main_container{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(251, 251, 251);

}

#role_main_container {
  padding: 2.5%;

  width: 220px;
  margin: 0;
  margin-top: 40px;
  border-radius: 20px;
  float: left;
  font-weight: bold;

  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;

}

#role_sub_container {
  background-color: rgb(240, 239, 245);
  border-radius: 25px;
  width: 220px;
  height: 140px;
  margin-top: 30px;
  box-sizing: border-box;
}

.roditelj_text{

  color: rgb(156, 31, 117);

}
.ped_text{
  color: rgb(133, 31, 156);
}

.lom_text{
  color: rgb(70, 31, 156);
  margin-top: 0px;
}

.role_sub_text{
  color: gray;
  font-weight: normal;
  font-size: 11px;
  text-align: left;
  padding: 15px;


}
.role_sub_text_lom{
  margin-bottom: 20px;
}

.role_sub-smol_text{
  font-size: 10px;
  margin-top: 75px;
  text-align: center;
  color: lightgray;
}

#home_reg_log_container{
  height: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#Template {
  background-color: rgb(251, 251, 251);
  height: 100%;
}

.linkic {
  color: black;
  text-decoration: none;
}

#reg_button {
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  box-sizing: border-box;
  width: 140px;
  height: 80px;
  align-content: center;
  border-radius: 8px;
  background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
}

#prijava_button {
  font-size: 13px;
  width: 120px;
  margin-top: 10px;
  text-align: center;
}

#login_bigboy_main{
  user-select: none;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(251, 251, 251);
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

}

.login_naslov{
  height: 22px;
  color: rgb(156, 31, 117);
  font-size: 25px;
  padding-top: 40px;
  text-align: left;
  width: 280px;
}

#login_main_container{
  height: 290px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  color:rgb(59, 59, 56);
  font-size: 13px;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  margin-top: 10px;
}

.login_input_container Input{
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  margin-bottom: 25px;
  height: 25px;
  width: 230px;
  background-color: rgb(240, 239, 245);
  font-size: 11px;
  color: rgb(59, 59, 56);
  padding: 10px;
  box-sizing: border-box;
  font-family: Ubuntu;
}

.login_input_container input::placeholder {
  color: rgb(51, 63, 80, 0.3);
}

#viewLogo {
  height: 11px;
  float: right;
  bottom: 0;
  margin-top: -20%;
  transform: translateX(-50%);
}

#login_button {
  background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
  color: white;
  border: none;
  height: 35px;
  width: 130px;
  border-radius: 10px;
  font-family: Ubuntu;
  margin-left: 43px;
  margin-top: 10px;
  font-size: 14px;
}

#register_main_container {
  padding: 2.5%;
  background-color: white;
  width: 70%;
  margin: 0 auto 4em auto;
  border-radius: 30px;
}

.register_category_container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.inputs_paragraf {
  margin: 2% 0 4% 0;
}

.input_container {
  margin: 2% 7% 2% 0;
  padding: 0;
  width: 25%;
  height: fit-content;
}

.input_box {
  border-radius: 10px;
  border: none;
  width: 100%;
  font-size: 13px;
  padding: 10px;
  background-color: rgb(240, 239, 245);
}

.input_tag {
  margin-bottom: 10px;
  font-weight: bold;
}

.paragraf_title {
  font-size: 20px;
}

.main_naslov {
  margin: 0 auto;
  padding: 0 0 1em 0;
  background-color: rgb(251, 251, 251);
  color: rgb(156, 31, 117);
  font-size: 2em;
  width: 74%;
}

#register_button {
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  border-style: none;
  width: 140px;
  margin: -3em 2em 0 0;
  height: 4 em;
  align-content: center;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
  float: right;
}

#register_button:hover {
  cursor: pointer;
}

.line {
  height: 0;
  width: 105%;
  margin: 0 0 0 -2.5%;
  padding: 0;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(240, 239, 245);
}

.main {
  height: 100%;
  margin: 0;
  padding: 2em 0 1em 0;
  background-color: rgb(251, 251, 251);
}