html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(251, 251, 251);
  font-family: 'Ubuntu', serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Regular.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(156, 31, 117, 0.4), rgb(133, 31, 156, 0.4), rgb(70, 31, 156, 0.4));
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(156, 31, 117, 0.4), rgb(133, 31, 156, 0.4), rgb(70, 31, 156, 0.4));
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  height: 100%;
}

.plain {
  height: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  width: 100%;
  width: fit-content;
}

#navbar {
  background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
  height: 3vh;
  width: 100%;
}

#navbar > div {
  color: white;
  font-size: 13px;
  margin: 4px 20px 5px 0;
  width: fit-content;
  height: 100%;
}

#naslov {
  float: left;
  height: 12vh;
  width: fit-content;
}

#naslov_text {
  color: rgb(156, 31, 117);
  display: flex;
  flex-direction: column;
  float: right;
  font-family: 'Ubuntu';
  font-weight: 430;
  margin-bottom: 3px;
  margin-left: 5px;
  padding: 5% 0;
}

#naslov_text > div {
  padding: 0;
}

#podnaslov_text {
  font-size: 14px;
  margin-top: 4px;
}

#naslov_text > div:first-child {
  font-size: 24px;
  margin-top: 12px;
}

#podnaslov_text {
  font-size: 14px;
  margin-top: 4px;
}

#profile {
  display: flex;
  flex-direction: column;
  float: right;
  height: 12vh;
  justify-content: center;
  margin: 0;
  padding: 0 2%;
  color: rgb(156, 31, 117);
  font-weight: bold;
}

#icon {
  height: 4em;
  margin-bottom: 3px;
  margin-left: 15px;
  margin-right: 0px;
  margin-top: 15px;
  vertical-align: baseline;
}

#icon:hover {
  cursor: pointer;
}

#home_bigboy_main{
  background-color: rgb(251, 251, 251);
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 100%;
}


#home_main_container{
  align-content: center;
  align-items: center;
  background-color: rgb(251, 251, 251);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#role_main_container {
  align-content: center;
  align-items: center;
  border-radius: 20px;
  float: left;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  margin-top: 40px;
  margin: 0;
  padding: 2.5%;
  text-align: center;
  width: 220px;
}

#role_sub_container {
  background-color: rgb(240, 239, 245);
  border-radius: 25px;
  box-sizing: border-box;
  height: 140px;
  margin-top: 30px;
  width: 220px;
}

.roditelj_text{

  color: rgb(156, 31, 117);

}
.ped_text{
  color: rgb(133, 31, 156);
}

.lom_text{
  color: rgb(70, 31, 156);
  margin-top: 0px;
}

.role_sub_text{
  color: gray;
  font-size: 11px;
  font-weight: normal;
  padding: 15px;
  text-align: left;
}
.role_sub_text_lom{
  margin-bottom: 20px;
}

.role_sub-smol_text{
  color: lightgray;
  font-size: 10px;
  margin-top: 75px;
  text-align: center;
}

#home_reg_log_container{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  padding-bottom: 10px;
}

#Template {
  background-color: rgb(251, 251, 251);
  height: 100%;
}

.linkic {
  color: black;
  text-decoration: none;
}

#reg_button {
  align-content: center;
  background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  font-size: 13px;
  height: 80px;
  padding: 10px;
  text-align: center;
  width: 140px;
}

#reg_button:first-child {
  text-decoration: none;
}

#prijava_button {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  width: 120px;
}

#login_bigboy_main{
  align-items: center;
  background-color: rgb(251, 251, 251);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  user-select: none;
  width: 100%;
}

.login_naslov{
  color: rgb(156, 31, 117);
  font-size: 25px;
  height: 22px;
  padding-top: 40px;
  text-align: left;
  width: 280px;
}

#login_main_container{
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  color:rgb(59, 59, 56);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: bold;
  height: 290px;
  justify-content: flex-start;
  margin-top: 10px;
  padding-top: 1.5%;
  width: 300px;
}

.login_inputic Input{
  background-color: rgb(240, 239, 245);
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  color: rgb(59, 59, 56);
  font-family: 'Ubuntu', serif;
  font-size: 11px;
  height: 25px;
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 10px;
  width: 230px;
}

.login_inputic input::placeholder {
  color: rgb(51, 63, 80, 0.3);
}

#view_logo {
  bottom: 0;
  float: right;
  height: 11px;
  margin-top: -20.5%;
  transform: translateX(-50%);
}

#view_logo:hover {
  cursor: pointer;
}


#login_button {
  background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Ubuntu;
  font-size: 14px;
  height: 35px;
  margin-left: 43px;
  margin-top: 10px;
  width: 130px;
}

#login_button:hover {
  cursor: pointer;
}

#register_main_container {
  background-color: white;
  border-radius: 30px;
  margin: 0 auto 4em auto;
  padding: 2.5%;
  width: 60%;
}

.register_category_container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.inputs_paragraf {
  margin: 2% 0 4% 0;
}

.input_container {
  height: fit-content;
  margin: 2% 7% 2% 0;
  padding: 0;
  width: 230px;
}

.input_box {
  background-color: rgb(240, 239, 245);
  border-radius: 10px;
  border: none;
  font-size: 13px;
  padding: 10px;
  width: 100%;
}

.input_tag {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;

}

::placeholder {
  color: rgb(51, 63, 80, 0.3);
  font-family: 'Ubuntu', sans-serif;
}

.paragraf_title {
  font-size: 20px;
}

.main_naslov {
  background-color: rgb(251, 251, 251);
  color: rgb(156, 31, 117);
  font-size: 2em;
  margin: 0 auto;
  padding: 0 0 1em 0;
  width: 65%;
}

#register_button {
  align-content: center;
  background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
  border-radius: 10px;
  border-style: none;
  color: white;
  float: right;
  font-size: 15px;
  height: 4 em;
  margin: -3em 2em 0 0;
  padding: 15px;
  text-align: center;
  width: 140px;
  font-family: 'Ubuntu';
}

#register_button:hover {
  cursor: pointer;
}

.line {
  border-color: rgb(240, 239, 245);
  border-style: solid;
  border-width: 0.5px;
  height: 0;
  margin: 0 0 0 -2.5%;
  padding: 0;
  width: 105%;
}


.main {
  background-color: rgb(251, 251, 251);
  height: 100%;
  margin: 0;
  padding: 2em 0 1em 0;
}

#notification_container {
  width: 45%;
  margin: 2vh 2.5%;
  float: left;
}

.patient_profile {
  display: flex;
  width: 30vh;
  height: 30vh;
  margin: 2vh 2vh 0 2vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#patient_profile_right {
  display: flex;
  width: 30vh;
  height: 30vh;
  margin: 2vh 2vh 0 2vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#patients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: right;
  width: 40%;
  margin: 2vh 2%;
}

#patient_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: right;
  width: 15%;
  margin: 10vh 5% 0 5%;
}

.patient_type {
  text-transform: uppercase;
  justify-self: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(156, 31, 117);
}

.patient_info {
  width: 20vh;
  height: 10vh;
  background-color: whitesmoke;
  padding: 5%;
  border-radius: 10px;
}

.patient_button {
  text-transform: uppercase;
  background-color: rgb(156, 31, 117);
  color: white;
  border: none;
  height: 4vh;
  padding: 0 5%;
  border-radius: 5px;
  font-weight: bold;
}

.patient_button:hover {
  cursor: pointer;
}

.notif_content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 55ch;
}

#notifications {
  overflow-y: auto;
  height: 70vh;
  width: 100%;
  padding: 2vh;
  background-color: whitesmoke;
  border-radius: 1em;
  overflow-x: hidden;
}

#notification_container_parent {
  width: 60%;
  margin: 2vh 2.5%;
  float: left;
}

#notifications_title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(156, 31, 117);
  margin: 1vh;
}

.notif_title {
  width: fit-content;
  font-weight: bold;
  color: rgb(156, 31, 117);
}

.notif_from {
  color: rgb(156, 31, 117);
  float: right;
  width: 20%;
}

.notif_for {
  color: rgb(156, 31, 117);
}

.leave_for {
  color: rgb(156, 31, 117);
  float: right;
  width: 20%;
}

.notif_open {
  background-color: rgb(156, 31, 117);
  color: white;
  border: none;
  border-radius: 5px;
  width: 12vh;
  height: 3vh;
  float: right;
  font-weight: bold;
}

.notif_open:hover {
  cursor: pointer;
}

.notification {
  margin: 0 auto 1vh auto;
  width: 95%;
  height: fit-content;
  padding: 1.5vh;
  border-radius: 10px;
  background-color: white;
}

.notification:hover {
  cursor: pointer;
}

#nav_button_container {
  float: left;
  display: flex;
  height: 100%;
}

#language_button {
  font-weight: bold;
  float: right;
}

#aa_button {
  font-weight: bold;
  float: right;
}

#header {
  height: 12vh;
  margin: 0;
}

.nav_button {
  display: flex;
  margin: 0 1.5vw;
  color: white;
  text-decoration: none;
  height: 100%;
  align-items: center;
}

.nav_button:hover {
  cursor: pointer;
}

#parent_button {  
  background-color: rgb(156, 31, 117);
  color: white;
  border: none;
  height: 4vh;
  padding: 0 5%;
  border-radius: 5px;
  font-weight: bold;
  margin: 15% 0 0 70%;
}

#parent_button:hover {
  cursor: pointer;
}

#from {
  color: rgb(156, 31, 117);
}

#content {
  padding: 1.5vh;
  background-color: white;
  width: 95%;
  margin: 0 auto 1vh auto;
}

#back_button {
  width: 15vh;
  background-color: rgb(156, 31, 117);
  color: white;
  border: none;
  height: 4vh;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  left: 4vw;
  bottom: 5vh;
}

#back_button:hover {
  cursor: pointer;
}

#popratna_poruka {
  resize: none;
  width: 70%;
  height: 35%;
  background-color: white;
  border-radius: 20px;
  border: none;
  font-size: 13px;
  padding: 10px;
  margin: 10px 0 0 5%;
}

input[type="file"] {
  display: none;
}

#select_file_button {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(73, 53, 80);
  border: none;
  height: 4vh;
  width: fit-content;
  border-radius: 15px;
  font-weight: bold;
  padding: 1%;
}

#select_file_button:hover {
  cursor: pointer;
}

#file_selector {
  padding: 6% 0;
  height: fit-content;
  align-items: center;
  flex-flow: column;
  display: flex;
}

.collapsable {
  height: 100%;
}

.selector_text {
  width: fit-content;
  margin: 10px 0;
}

#popratna_naslov {
  font-weight: bold;
  margin-left: 6%;
}

#patient_list_naslov {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: rgb(247, 247, 247);
}

.lom_naslovi {
  font-size: 23px;
  color:rgb(59, 59, 56);
}

#patient_list_bigboy {
  background-color: white;
  height: 510px;
}

.patient_list_instance {
  background-color: rgb(246, 245, 249);
  width: 95%;
  height: 50px;
  margin-top: 20px;
  margin-left: 2.5%;
  border-radius: 18px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.patient_list_infobox {
  align-self: flex-start;
}

.patient_list_ime_prezime{
  color: rgb(70, 31, 156);
  font-weight: bold;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 5px;
}

.patient_list_oib{
  font-size: 13px;
  margin-top: 5px;
  margin-left: 20px;
}

.patient_list_buttonbox {
  align-self: flex-end;
}

.patient_list_button {
  background-color: rgb(70, 31, 156);
  color: white;
  border: none;
  height: 25px;
  width: 90px;
  margin-bottom: 15px;
  margin-right: 30px;
  border-radius: 6px;
  font-size: 11px;
  font-family: Ubuntu;
}

#new_patient_title {
  color:rgb(59, 59, 56);
  font-size: 25px;
  height: 22px;
  padding-top: 40px;
  text-align: left;
  width: 280px;
  padding-bottom: 10px;
}

#new_patient_button{
  background-color:rgb(77, 55, 78);
  color: white;
  border: none;
  height: 30px;
  width: 70px;
  margin-top: 15px;
  margin-left: 70px;
  border-radius: 15px;
  font-size: 12px;
  font-family: Ubuntu;
}

#new_patient_main_container {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  color:rgb(59, 59, 56);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: bold;
  height: 220px;
  justify-content: flex-start;
  margin-top: 10px;
  padding-top: 1.5%;
  width: 280px;
}

#new_patient_inputic Input{
  background-color: rgb(240, 239, 245);
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  color: rgb(59, 59, 56);
  font-family: 'Ubuntu', serif;
  font-size: 11px;
  height: 25px;
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 10px;
  width: 230px;
}

.lom_podnaslovi{
  font-size: 20px;
  color:rgb(59, 59, 56);
  margin-left: 5%;
  margin-top: 20px;
}

#doctor_newexam_input{
  margin-left: 60px;
}

#doctor_newexam_diagnosis_input textarea{
  background-color: rgb(246, 245, 249);
  width: 88.5%;
  height: 200px;
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 18px;
  border: none;
  padding: 10px;
  font-size: 13px;
}

.doctor_newexam_titles1{
  margin-left: 60px;
}

.doctor_newexam_flexbox{
  display: flex;
}

.flexbox{
  display: flex;
}

#sickleave_info_subbox{
  color: rgb(70, 31, 156);

  margin-left: 20px;
}



#doctor_sickleave_patient_name{
  padding-right: 20px;
  margin-top: 22.5px;
}

#sickleave_profile_button{
  margin-top: 18px;
}

#doctor_sickleave_box_recdata {
  background-color: rgb(246, 245, 249);
  width: 83%;
  height: 100px;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 30px;
  border-radius: 18px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 13px;
  color: rgb(59, 59, 56);
}

.textbox_notfull{
  background-color: rgb(246, 245, 249);
  width: 83%;
  height: 50px;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 30px;
  border: none;
  padding: 10px;
  font-size: 13px;
  border-radius: 18px;
  color: rgb(59, 59, 56);
}

#doctor_sickleave_duration {
  background-color: rgb(246, 245, 249);
  width: 83%;
  height: 50px;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 30px;
  border: none;
  padding: 10px;
  font-size: 13px;
  border-radius: 18px;
  color: rgb(59, 59, 56);
}

#doctor_sickleave_button_back {
    background-color:rgb(77, 55, 78);
    color: white;
    border: none;
    height: 35px;
    width: 90px;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 15px;
    font-size: 12px;
    font-family: "Ubuntu"
}

#doctor_sickleave_button_submit {
  background-color: rgb(70, 31, 156);
  color: white;
  border: none;
  height: 35px;
  width: 90px;
  margin-top: 15px;
  margin-right: 130px;
  border-radius: 15px;
  font-size: 12px;
  font-family: "Ubuntu";
}

.button_boxes_apart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button_boxes_together{
  width: 100%;
  display: flex;
}

#doctor_sickleave_button_submitbox{
  align-self: flex-end;
}

#doctor_newexam_button_giveupbox {
  align-self: flex-end;
  margin-left: 72%;
}

#doctor_newexam_button_submitbox {
  align-self: flex-end;
}

#doctor_newexam_button_giveup {
  background-color:rgb(77, 55, 78);
  color: white;
  border: none;
  height: 30px;
  width: 110px;
  margin-top: 15px;
  margin-left: 50px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold;
}

#doctor_newexam_button_submit {
  background-color: rgb(70, 31, 156);
  color: white;
  border: none;
  height: 30px;
  width: 110px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold;
}

#doctor_newexam_currentdiagnosis Input{
  width: 30px;
  background-color: pink;
  margin-top: 17px;
}

#doctor_newexam_naslovbox{
  width: 100%;
  text-align: right;
}
#doctor_newexam_naslov{
  margin-right: 22.5%;
  padding-top: 15px;
}

.naslovbox_desno{
  width: 100%;
  text-align: right;
}

.naslov_desno{
  margin-right: 22.5%;
  padding-top: 15px;
}

.bigboy_left_smallboi_right {
  display: flex;
  width: 100%;
  height: 530px;
}

.bigboy_left{
  background-color: white;
  width: 78%;
  border-top-right-radius: 40px;
  height: 100%;
}

.smallboi_right{
  width: 10%;
  align-self: start;
  margin-left: 2%;
}

.smallboi_infobox{
  background-color: white;
  border-radius: 25px;
  box-sizing: border-box;
  height: 100px;
  width: 280px;
  padding: 30px;
  font-size: 14px;
  font-family: "Ubuntu Light";
  font-weight: bold;
}

#patient_name_textbox{
  margin-bottom: 10px;
}
#medical_file_title{
  margin-top: 40px;
}

.medical_file_instance{
  background-color: rgb(246, 245, 249);
  width: 83%;
  height: fit-content;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 30px;
  border: none;
  padding: 10px;
  font-size: 13px;
  border-radius: 18px;
  color: rgb(59, 59, 56);
}

.medical_file_instance_info{
  padding: 10px;
  font-size: 14px;
  color: rgb(70, 31, 156);
  font-family: "Ubuntu Light";
  font-weight: bold;
}

#doctor_specexam_input{
  margin-left: 30px;
  margin-top: 5px;
}

#doctor_specexam_box{
  margin-top: 30px;
}

.doctor_specexam_input textarea{
  background-color: rgb(246, 245, 249);
  width: 88.5%;
  height: 50px;
  margin-top: 20px;
  margin-left: 5%;
  border-radius: 24px;
  border: none;
  padding: 10px;
  font-size: 13px;
}

#doctor_specexam_button_submitbox {
  margin-top: 75px;
  display: flex;
  justify-content: flex-end;
}

#doctor_specexam_button_submit{
  align-self: flex-end;
  background-color: rgb(70, 31, 156);
  color: white;
  border: none;
  height: 30px;
  width: 110px;
  margin-top: 15px;
  margin-right: 30px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold;
}

.date_of_exam {
  color: rgb(156, 31, 117);
  float: right;
  width: 10ch;
  overflow: hidden;
}

.exam_content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

#load_file_button {
  background-color: rgb(156, 31, 117);
  color: white;
  border: none;
  height: 4vh;
  padding: 0 5%;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  bottom: 6vh;
}

#load_file_button:hover {
  cursor: pointer;
}

#map {
  float: right;
  height: 70vh;
  width: 100%;
  margin: 0 auto;
}

#doctor_medrep_msg_button_submit{
  align-self: flex-end;
  background-color: rgb(70, 31, 156);
  color: white;
  border: none;
  height: 30px;
  width: 110px;
  margin-right: 30px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold
}

.flexbox_column{
  display: flex;
  flex-direction: column;
}

.doctor_patient_profile{
  width: 33%;
  margin-top: 20px;
  font-size: 12px;
}

.doctor_patient_profile_tekst1{
  font-weight: bold;
  margin-bottom: 20px;
}

.doctor_patient_profile_tekst2{
  color: rgb(70, 31, 156);
}

.doctor_patient_profile_title{
  margin-right: 68%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.doctor_patient_profile_subtitle{
  font-size: 18px;
}

#doctor_patient_profile_line{
  margin-bottom: 20px;
  margin-top: 30px;
}


#doctor_medrep_button_submitbox {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

#doctor_medrep_button_submit{
  align-self: flex-end;
  background-color: rgb(70, 31, 156);
  color: white;
  border: none;
  height: 30px;
  width: 180px;
  margin-right: 30px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold;
}

#doctor_medreport_pdf{
  background-color:rgb(77, 55, 78);
  color: white;
  font-size: 16px;
  padding: 10px;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#doctor_medreport_pdf_name{
  margin-top: 40px;
  margin-left: 20px;
}

#doctor_medreport_date{
  width: 150px;
  height: 20px;
  border-radius: 10px;
  align-items: center;
}

.flexbox_div_2{
  width: 60%;
  height: 320px;
  margin-left: 90px;
}

#doctor_medreport_message{
  height: 200px;
}

.flexbox_div_1{
  width: 100%;
  height: 160px;
  margin-left: 50px;
}
#doctor_medrep_main{
  height: 75%;
  margin-top: 40px;
}

#doctor_medrep_msg_text_input textarea{
  height: 200px;
}

#doctor_medrep_msg_title_input textarea{
  height: 20px;
  border-radius: 12px;
  align-items: center;
}

#ped_button_color{
  background-color: rgb(133, 31, 156);
}

#ped_text_color{
  color: rgb(133, 31, 156);
}

.ped_text_color{
  color: rgb(133, 31, 156);
}

.ped_button_color{
  background-color: rgb(133, 31, 156);
}

#ped_newexam_button_submit {
  background-color: rgb(133, 31, 156);
  color: white;
  border: none;
  height: 30px;
  width: 110px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold;
}

#ped_specexam_button_submit{
  align-self: flex-end;
  background-color: rgb(133, 31, 156);
  color: white;
  border: none;
  height: 30px;
  width: 110px;
  margin-top: 15px;
  margin-right: 30px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold;
}

#ped_medrep_button_submit{
  align-self: flex-end;
  background-color: rgb(133, 31, 156);
  color: white;
  border: none;
  height: 30px;
  width: 180px;
  margin-right: 30px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold;
}

#ped_medrep_msg_button_submit{
  align-self: flex-end;
  background-color: rgb(133, 31, 156);
  color: white;
  border: none;
  height: 30px;
  width: 110px;
  margin-right: 30px;
  border-radius: 13px;
  font-size: 12px;
  font-family: "Ubuntu Light";
  font-weight: bold
}

.ped_patient_profile_title{
  margin-right: 68%;
  margin-bottom: 10px;
}

#ped_main_container {
  background-color: white;
  border-radius: 30px;
  margin: 0 auto 2em auto;
  padding: 2.5%;
  width: 60%;
}

#mobile_menu {
  width: 0;
  height: 0;
}

@media only screen and (max-width: 768px) {
  #login_main_container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 40vh;
  }

  .login_naslov {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  #header {
    display: none;
  }

  #language_button {
    display: none;
  }

  #aa_button {
    display: none;
  }

  #home_reg_log_container {
    margin-top: 5vh;
    padding-bottom: 10vh;
  }

  #home_main_container {
    margin-top: 5vh;
    display: flex;
    flex-flow: column;
  }

  #notification_container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #notifications {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 70vh;
  }

  #patients {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    order: 2;
  }

  .patient_profile {
    margin: 2.5%;
    width: 45%;
  }

  .patient_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 0 15% 0;
  }

  #notification_container_parent {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50vh;
  }

  #patient_parent {
    float: left;
    width: 100%;
    margin: 0 auto;
  }

  #patient_profile_right {
    margin: 0;
    height: 10vh;
  }

  #load_file_button {
    position: static;
    float: left;
    width: 25%;
    margin: 5% 37.5% 0 37.5%;
  }

  #popratna_naslov {
    float: left;
  }

  #popratna_poruka {
    width: 80%;
    display: flex;
    margin: 0 auto;
  }

  .notif_from {
    visibility: hidden;
    width: 0;
  }

  .date_of_exam {
    visibility: hidden;
  }

  #notifications_title {
    text-align: center;
  }

  .notif_content {
    max-width: 100%;
  }

  .exam_content {
    max-width: 100%;
  }

  #navbar {
    height: 5vh;
  }

  #mobile_menu {
    height: 5vh;
    width: 6vh;
    background-image: url(./images/menu_icon.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #nav_button_container {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  #navbar > div {
    margin: 0 ;
  }

  .nav_button {
    margin: 0;
    background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156, 0.9), rgb(70, 31, 156));
    height: 5vh;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #doctor_medrep_button_submitbox {
    margin-top: 18%;
    display: flex;
    justify-content: center;
  }

  #doctor_medreport_message {
    height: 8.5rem;
    width: 95%;
    margin-left: 0.9rem;
  }

  #doctor_medrep_button_submit {
    align-self: center;
    background-color: rgb(70, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 180px;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  .lom_podnaslovi {
    font-size: 20px;
    color: rgb(59, 59, 56);
    margin-left: 5%;
    margin-top: 4%;
  }

  #doctor_medrep_msg_title_input textarea {
    height: 20px;
    border-radius: 12px;
    align-items: center;
    margin-top: 0.5rem;
  }

  #doctor_medrep_msg_text_input textarea {
    height: 250px;
    margin-top: 0.5rem;
  }

  #doctor_medrep_msg_button_submit {
    align-self: flex-end;
    background-color: rgb(70, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  #doctor_newexam_input {
    margin-left: 1rem;
  }

  .input_container {
    height: -moz-fit-content;
    height: fit-content;
    margin: 2% 2% 2% 0%;
    padding: 0;
    width: 155px;
  }

  #guza {
    margin-left: 1rem;
  }

  #doctor_newexam_input {
    margin-left: 1rem;
  }

  #doctor_newexam_datebox {
    margin-left: 1rem;
  }

  #guzica_mala {
    margin-left: 1rem;
  }

  #ped_specexam_button_submit {
    align-self: center;
    background-color: rgb(133, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-top: 1%;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  #ped_medrep_button_submit {
    align-self: center;
    background-color: rgb(133, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 180px;
    margin-top: 0.5rem;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  #ped_medrep_msg_button_submit {
    align-self: flex-end;
    background-color: rgb(133, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  .ped_patient_profile_title {
    margin-right: 0%;
    margin-bottom: 10px;
  }

  #ped_main_container {
    background-color: white;
    border-radius: 30px;
    margin: 0 auto 2em auto;
    padding: 2.5%;
    width: 90%;
  }

  #doctor_patient_profile_line {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .main_naslov {
    display: flex;
    justify-content: center;
    background-color: rgb(251, 251, 251);
    color: rgb(156, 31, 117);
    font-size: 2em;
    margin: 0 auto;
    padding: 0 0 1em 0;
    width: 65%;
  }

  .register_category_container {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 1rem;
  }

  .input_box {
    background-color: rgb(240, 239, 245);
    border-radius: 10px;
    border: none;
    font-size: 13px;
    padding: 10px;
    width: 280px;
  }

  #register_button {
    align-content: center;
    background: linear-gradient(to right, rgb(156, 31, 117), rgb(133, 31, 156), rgb(70, 31, 156));
    border-radius: 10px;
    border-style: none;
    color: white;
    float: right;
    font-size: 15px;
    margin: 0.3em 0 0 0;
    padding: 15px;
    text-align: center;
    width: 140px;
    font-family: 'Ubuntu';
  }

  #home_main_container {
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .login_inputic Input {
    background-color: rgb(240, 239, 245);
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    color: rgb(59, 59, 56);
    font-family: 'Ubuntu', serif;
    font-size: 11px;
    height: 25px;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 10px;
    width: 190px;
  }

  #view_logo {
    bottom: 0;
    float: right;
    height: 11px;
    margin-top: -26.5%;
    margin-right: -1rem;
    transform: 0;
  }

  #new_patient_inputic Input {
    background-color: rgb(240, 239, 245);
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    color: rgb(59, 59, 56);
    font-family: 'Ubuntu', serif;
    font-size: 11px;
    height: 25px;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 10px;
    width: 170px;
  }

  #new_patient_button {
    background-color: rgb(77, 55, 78);
    color: white;
    border: none;
    height: 30px;
    width: 70px;
    margin-top: 0.5rem;
    margin-left: 3rem;
    border-radius: 15px;
    font-size: 12px;
    font-family: Ubuntu;
  }
  
  #map {
    z-index: -1;
  }

  .naslovbox_desno {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: right;
  }

  .doctor_patient_profile_title {
    margin-right: 0%;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .doctor_patient_profile {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
  }

  .doctor_patient_profile {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    font-size: 12px;
  }

  #register_main_container {
    background-color: white;
    border-radius: 30px;
    margin: 0 auto 4em auto;
    padding: 2.5%;
    width: 90%;
  }

  .bigboy_left_smallboi_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 530px;
    margin-top: 3%;
  }

  .smallboi_right {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0%;
    align-self: normal;
    margin-top: 5%;
  }

  .doctor_newexam_flexbox {
    display: flex;
    flex-direction: row;
  }

  .bigboy_left {
    background-color: white;
    width: 100%;
    border-top-right-radius: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #doctor_newexam_naslovbox {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: right;
  }

  #doctor_newexam_naslov {
    margin-right: 0%;
    padding-top: 15px;
  }

  #doctor_newexam_button_giveupbox {
    align-self: center;
    margin-left: 0%;
  }

  .button_boxes_together {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }

  #doctor_newexam_button_giveup {
    background-color: rgb(77, 55, 78);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  #doctor_newexam_button_submit {
    background-color: rgb(70, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  #doctor_newexam_currentdiagnosis {
    width: 20%;
  }

  .doctor_newexam_titles1 {
    margin-left: 8%;
  }

  #patient_name_textbox {
    margin-bottom: 10px;
    text-align: center;
  }

  #patient_oib_textbox {
    text-align: center;
  }

  #doctor_newexam_input {
    margin-left: 30%;
  }

  #doctor_newexam_diagnosis_input textarea {
    background-color: rgb(246, 245, 249);
    width: 88%;
    height: 200px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 18px;
    border: none;
    padding: 1%;
    font-size: 13px;
  }

  .naslov_desno {
    margin-right: 0%;
    padding-top: 15px;
  }

  #doctor_specexam_button_submitbox {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  #doctor_specexam_button_submit {
    align-self: flex-end;
    background-color: rgb(70, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-top: 15px;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  .doctor_specexam_input textarea {
    background-color: rgb(246, 245, 249);
    width: 86%;
    height: 50px;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 24px;
    border: none;
    padding: 10px;
    font-size: 13px;
  }

  .flexbox_column {
    display: flex;
    flex-direction: column;
    height: 65%;
  }

  .flexbox_div_1 {
    width: 100%;
    height: 100%;
    margin-left: 2%;
  }

  #doctor_medrep_main {
    display: flex;
    flex-direction: column;
    height: 75%;
    margin-top: 40px;
  }

  .flexbox_div_2 {
    display: flex;
    flex-direction: column;
    width: 86%;
    height: 320px;
    margin-left: 3%;
  }

  #doctor_medrep_button_submitbox {
    margin-top: 18%;
    display: flex;
    justify-content: center;
  }

  #doctor_medreport_message {
    height: 8.5rem;
    width: 95%;
    margin-left: 0.9rem;
  }

  #doctor_medrep_button_submit {
    align-self: center;
    background-color: rgb(70, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 180px;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  .lom_podnaslovi {
    font-size: 20px;
    color: rgb(59, 59, 56);
    margin-left: 5%;
    margin-top: 4%;
  }

  #doctor_medrep_msg_title_input textarea {
    height: 20px;
    border-radius: 12px;
    align-items: center;
    margin-top: 0.5rem;
  }

  #doctor_medrep_msg_text_input textarea {
    height: 250px;
    margin-top: 0.5rem;
  }

  #doctor_medrep_msg_button_submit {
    align-self: flex-end;
    background-color: rgb(70, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  #doctor_newexam_input {
    margin-left: 1rem;
  }

  .input_container {
    height: -moz-fit-content;
    height: fit-content;
    margin: 2% 2% 2% 0%;
    padding: 0;
    width: 155px;
  }

  #guza {
    margin-left: 1rem;
  }

  #doctor_newexam_input {
    margin-left: 1rem;
  }

  #doctor_newexam_datebox {
    margin-left: 1rem;
  }

  #guzica_mala {
    margin-left: 1rem;
  }

  #ped_specexam_button_submit {
    align-self: center;
    background-color: rgb(133, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-top: 1%;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  #ped_medrep_button_submit {
    align-self: center;
    background-color: rgb(133, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 180px;
    margin-top: 0.5rem;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

  #ped_medrep_msg_button_submit {
    align-self: flex-end;
    background-color: rgb(133, 31, 156);
    color: white;
    border: none;
    height: 30px;
    width: 110px;
    margin-right: 0px;
    border-radius: 13px;
    font-size: 12px;
    font-family: "Ubuntu Light";
    font-weight: bold;
  }

} 


